<?xml version="1.0" encoding="UTF-8"?>
<it.unipi.aide.iot.config.ConfigurationParameters>
    <databaseIp>localhost</databaseIp>
    <databasePort>3306</databasePort>
    <databaseUsername>root</databaseUsername>
    <databasePassword>password</databasePassword>
    <databaseName>smart_swimming_pool</databaseName>
</it.unipi.aide.iot.config.ConfigurationParameters>